.achievementpagemain {
  width: 100vw;
  min-height: 93vh;
}
/*https://pixabay.com/pl/photos/b%C3%B3br-szczur-nutrii-m%C5%82ode-gryzo%C5%84-7738914/*/
.backgroundImage {
  background-image: url("./achievement.jpg");
  background-size: cover;
  background-position: center top 30%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: auto;
  min-height: 93vh;
}
.container {
  padding-left: 15vw;
  padding-top: 2vh;
  color: var(--almostwhite);
  font-size: clamp(0.8rem, 2vw, 2.5rem);
  text-shadow: 1px 1px 2px var(--verydarkgrey);
}
.container h1 {
  padding-bottom: 4vh;
}
