/* https://pixabay.com/pl/illustrations/niebieskie-%C5%9Bwiat%C5%82o-syrena-73088/ */
.backgroundImage {
  background-image: url("./light.jpg");
  background-size: cover;
  background-position: center top;
  width: 100vw;
  height: 93vh;
}

.contactpagemain {
  width: 100vw;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.contactpagemain h1 {
  font-size: clamp(2rem, 2vw, 3rem);
  margin-bottom: 20px;
}

.emergencyNumbers {
  padding-left: 4vw;
  font-size: clamp(1.2rem, 2vw, 2rem);
}
.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  margin-bottom: 10px;
}

.h1 {
  text-align: center;
}
