.animalspagemain {
  min-height: 93vh;
}
/*https://pixabay.com/pl/photos/lis-red-fox-przebieg%C5%82y-7017260/*/
.container1 {
  background-image: url("../achievement/home/achievement.jpg");
  background-size: cover;
  background-position: center top 30%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 93vh;
  color: var(--almostwhite);
  font-size: x-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
  color: var(--almostwhite);
  box-shadow: 5px 5px 5px 0px black;
}
.blur {
  display: flex;
  margin: auto;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.183);
  border: 2px solid var(--blur);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  padding: 0px 40px 30px 40px;
  width: 80%;
  min-width: 400px;
  height: auto;
}
.container1 p {
  font-weight: 600;
  border-left: 5px solid var(--green);
  padding-left: 1vw;
  margin: 3vh 0;
  margin-top: 5vh;
}
.container1 h1 {
  padding-top: 5vh;
  border-bottom: 5px solid var(--green);
}
.container1 h2 {
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.container1 h3 {
  margin-top: 10vh;
}
.container1 h4 {
  margin-bottom: 10vh;
  margin-top: 10vh;
}
.container2 {
  background-image: url("../report/animals.jpg");
  background-size: cover;
  background-position: center top 70%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 100vh;
  color: var(--almostwhite);
  font-size: x-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 5vh;
  color: var(--almostwhite);
}
.container2 p {
  font-weight: 600;
  border-left: 5px solid var(--green);
  padding-left: 1vw;
  margin: 3vh 0;
  margin-top: 5vh;
}
.container2 h1 {
  padding-top: 5vh;
  border-bottom: 5px solid var(--green);
}
.container2 h2 {
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.container2 h3 {
  margin-bottom: 10vh;
  margin-top: 15vh;
}
.container3 {
  background-image: url("./cat.jpg");
  background-size: cover;
  background-position: center top 70%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 100vh;
  color: var(--almostwhite);
  font-size: x-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 5vh;
  color: var(--almostwhite);
}
.container3 p {
  font-weight: 600;
  border-left: 5px solid var(--green);
  padding-left: 1vw;
  margin: 3vh 0;
  margin-top: 5vh;
}
.container3 h1 {
  padding-top: 5vh;
  border-bottom: 5px solid var(--green);
}
.container3 h2 {
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.container3 h3 {
  margin-bottom: 10vh;
  margin-top: 15vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitbutton {
  background-color: var(--darkgrey);
  color: var(--whitetowrite);
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: xx-large;
  height: 80px;
  width: 500px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
}

.submitbutton:hover {
  background-color: var(--whitetowrite);
  color: var(--darkgrey);
}
