.sidebar {
  margin-top: 7vh;
  height: 100%;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--darkgrey);
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.3s;
}

.sidebar:hover {
  width: 190px;
}
.sidebar .sidebaritem h4 {
  display: none;
}
.sidebar:hover .sidebaritem h4 {
  display: flex;
}
.sidebarlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebaritem {
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
  color: var(--almostwhite);
  width: 100%;
  padding: 10px 16px;
  display: flex;
  transition: background-color 0.3s;
}
.icon {
  margin-right: 10px;
  width: 3vh;
  height: auto;
}

.sidebaritem:hover {
  color: var(--darkgrey);
  background-color: var(--almostwhite);
}
.sidebaritem:hover h4 {
  color: var(--darkgrey);
}
.link {
  text-decoration: none;
  color: var(--almostwhite);
}

.link:hover {
  color: black;
}
.iconTextContainer {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  width: 3vh;
  height: auto;
}
.logout {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}
@media (max-width: 770px) {
  .sidebar {
    display: flex;
  }
  .sidebar:hover {
    display: none;
  }
  .sidebaritem {
    padding: 5px 5px;
  }
  .sidebar {
    width: 35px;
  }
}
