.spaceBetween {
  justify-content: space-between;
  display: flex;
  width: 100vw;
  height: 7vh;
  align-items: center;
  position: sticky;
  color: var(--almostwhite);
  background-color: var(--darkgrey);
}
.navbarLeft {
  padding-left: 4vw;
  display: flex;
  align-items: center;
}
.navbarRight {
  display: flex;
  align-items: flex-start;
  padding-right: 4vh;
}
.spaceCenter {
  flex-wrap: "wrap";
  justify-content: center;
  display: flex;
  max-width: 100%;
}
.menuDesktop {
  padding: 0.75rem;
  border: 2px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
}
.menuDesktop h2 {
  font-weight: 300;
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
}
.menuDesktop button {
  font-weight: 300;
  background-color: var(--darkgrey);
  color: var(--almostwhite);
  border: none;
  cursor: pointer;
}
.menuPhone {
  padding: 0.75rem;
  border-radius: var(--darkgrey);
  transition: background 200ms, border 200ms;
  display: none;
}
.menuPhone button {
  font-weight: 300;
  background-color: var(--darkgrey);
  color: var(--almostwhite);
  border: none;
}
.navLink {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Style the hover effect */
.navLink:hover {
  color: var(--green); /* Change the color on hover */
}

/* Scroll to anchor links smoothly */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
  .menuPhone {
    display: flex;
  }
  .spaceCenter {
    display: none;
  }
  div.navbarLeft {
    padding-left: 0vw;
  }
  div.navbarRight {
    padding-right: 0vh;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
}
