.statisticpagemain {
  width: 100vw;
  min-height: 93vh;
}
/*https://pixabay.com/pl/photos/b%C3%B3br-szczur-nutrii-m%C5%82ode-gryzo%C5%84-7738914/*/
.backgroundImage {
  background-image: url("./achievement.jpg");
  background-size: cover;
  background-position: center top 30%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: auto;
  min-height: 93vh;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  background: transparent;
  border: 2px solid var(--blur);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  padding: 0px 40px 30px 40px;
  max-width: 55vh;
  height: auto;
}
.container h3 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.animalList p {
  color: var(--almostwhite);
}
.filters {
  width: 180px;
  height: 50px;
  background-color: var(--darkgrey);
  border-radius: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 5vh;
}
.filters label {
  color: var(--almostwhite);
}
.buttonf {
  margin-top: 5vh;
  width: 150px;
  height: 50px;
  background-color: var(--darkgrey);
  border-radius: 10px;
  color: var(--almostwhite);
}
.selectform {
  width: 100%;
  height: 40px;
  font-size: 2vh;
  background-color: var(--darkgrey);
  color: var(--whitetowrite);
}
